#main{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(1,400px);
    margin: 50px auto;
    padding: 30px;
    gap: 30px;
    width: 80%;
  
}

#main img{
    height: 100%;
    width: 100%;
}
#main >div >p{
    font-size: 25px;
}
#main >div h1{
    font-size: 55px; 
    width: 90%; 
}
#main button{
    background-color: rgb(118, 118, 193);
    color: white;
    width: 200px;
    height: 40px;
    text-align: center;
    align-items: center;
    border-radius: 5px;
    font-weight: bold;
    border: 0px;
}
#main button:hover{
    background-color: blue;
}
#part{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    padding: 30px;
    background-color: rgb(196, 171, 217);
}
#part div{
    height: 200px;
    padding: auto;
    text-align: center;
}
#part div img{
    width: 70%;
    height: 70%;
}
#h1{
   text-align: center;
   font-size: 55px;
   margin-top: 60px;
   width: 50%;
   margin: 60px auto 30px auto;
}
#p{
    width: 50%;
    margin: auto;
    font-size: 23px;
    margin-bottom: 60px;
    text-align: center;
}
#polls{
    background-color: rgb(196, 171, 217);
    padding: 40px;
}
#part2{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(1,400px);
    gap: 30px;
    margin: 60px auto;
    padding: 30px;
    width: 80%;
}

#part2 img{
    width: 100%;
    height: 100%;
}
#part2 >div>h1{
    font-size: 55px; 
 }
 #part2 >div li{
    font-size: 25px;
}
#part3{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(1,400px);
    gap: 40px;
    margin: 60px auto;
    padding: 30px;
    width: 80%;
}
#part3 img{
    width: 100%;
    height: 100%;
}
#part3 >div>h1{
   font-size: 55px; 
}
#part3 >div li{
    font-size: 25px;
}
#part4{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(1,400px);
    gap: 40px;
    margin: 60px auto;
    padding: 30px;
    width: 80%;
}
#part4 img{
    width: 100%;
    height: 100%;
}
#part4 >div>h1{
   font-size: 55px; 
}
#part4 >div li{
    font-size: 25px;
}
#part5{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(1,400px);
    gap: 40px;
    margin: 60px auto;
    padding: 30px;
    width: 80%;
}
#part5 img{
    width: 100%;
    height: 100%;
}
#part5 >div>h1{
   font-size: 55px; 
}
#part5 >div li{
    font-size: 25px;
}
#part5 button{
    color: rgb(90, 90, 224);
    background-color: white;
    width: 140px;
    height: 40px;
    text-align: center;
    align-items: center;
    border-radius: 5px;
    font-weight: bold;
    border: 2px solid rgb(90, 90, 224);;
}
#part5 button:hover{
background-color:rgb(90, 90, 224); 
color: white;
transition: 0s;
}
#h1p h1{
    width: 50%;
    text-align: center;
    margin: auto;
    font-size: 55px;
}
#h1p p{
    width: 47%;
    text-align: center; 
    padding: 30px 0px;
    margin: auto;
    font-size: 23px;
}
#part7{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,450px);
    gap: 40px;
    width: 80%;
    margin:0px auto 120px auto;
}

#part7 img{
    width: 100%;
    height: 70%;
}
.btn1{
    width: 140px;
    height: 40px;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
    border: 0px;
    color: white;
    background-color: rgb(103, 103, 243);
}
.btn2{
    width: 140px;
    height: 40px;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
    border: 0px;
    color: black;
    background-color: white;
}
.btn1:hover{
    background-color: blue;
}
.btn2:hover{
    background-color: rgb(212, 196, 196);
}
#part8{
    text-align: center;
}
#part8 p{
    font-size: 23px;
    width: 55%;
    margin: auto;
}
#part8 h1{
    font-size: 55px;
}
#video{
    margin: 80px auto;
    width: 50%;
    
}
#part9{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(1,300px);
    gap: 30px;
    width: 80%;
    margin: 80px auto;
}

#part9 img{
    width: 100%;
    height: 70%;
}
#part9>div p{
    font-size: 20px;
}
.hov:hover{
    margin-top: -10px;
    transition: 1s;
}
#htag{
    text-align: center;
    font-size: 55px;
    margin:70px 0px 30px 0px;
   
}
#foot{
    margin-top: 10%;
    background-image: url("https://scontent.fpat2-3.fna.fbcdn.net/v/t39.30808-6/301807287_593897098777071_4088854251616900155_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=730e14&_nc_ohc=qE8qiQUcc_wAX_P_xjD&_nc_ht=scontent.fpat2-3.fna&oh=00_AT-h3XGX681CyAAgQ_UVlKtgfRbStcFFVlKLpyyoctKBCQ&oe=630DAB33");
    height: 248px;
}
#foot h1{
    font-size: 50px;
    width: 40%;
    text-align: center;
    margin: auto;
    color: white;
}
#foot button{
    display: block;
    margin:15px auto;
    background-color:white;
    color: blue;
    width: 180px;
    height: 50px;
    text-align: center;
    align-items: center;
    border-radius: 5px;
    font-weight: bold;
    border: 0px;
}
#foot button:hover{
    background-color:rgb(164, 152, 152);
}
@media all and (min-width:250px) and (max-width:1000px){
    
    #part2{
        display: grid;
        grid-template-columns:100%;
        grid-template-rows: repeat(2,auto);
        gap: 20px;
        margin: 60px auto;
        padding: 30px;
        width: 130%;
    }
    #part3{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(2,auto);
        gap: 30px;
        width: 130%;
    }
    #part4{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(2,auto);
        gap: 30px;
        width: 140%;
        }
    
    #part5{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(1,auto);
        gap: 30px;
        width: 140%;
    }
    #foot h1{
        font-size: 40px;
        width: auto;
        text-align: center;
        margin: auto;
        color: white;
    }
    #part9{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(3,auto);
        gap: 40px;
        margin: 80px;
        width: 140%;
    }
    #h1p h1{
      width: 140%;
    }
    #h1p p{
        width: 140%; 
    }
    #footer_container{
        width: 140%;
    }
    #navbar_container{
        width:140%
    }
}
@media all and (min-width:250px) and (max-width:600px){
    #main{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(2,auto);
        width: 140%;
      
    }
    #part{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(4,auto);
        gap: 20px;
        width: 140%;
        
    }
    #polls{
        width: 140%;
   
    }
    #h1{
        text-align: center;
        font-size: 35px;
        width: 100%;
        margin: 60px auto 30px auto;
     }
     #p{
         width: 100%;
         margin: auto;
         font-size: 20px;
         margin-bottom: 60px;
         text-align: center;
     }

    #part7{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(4,auto);
        gap: 30px;
        width: 140%;
        
       
    }
    #part7>div{
        margin: auto;
    }
    #part8{
        text-align: center;
        width: 135%;
        border: 3px solid;
    }
    #part8 p{
        font-size: 23px;
        text-align: center;
        
       
    }
    #part8 h1{
        font-size: 40px;
       
    }
    #video{
        margin: 80px auto;
        width: 100%;
        
    }
    #part9{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(3,auto);
        gap: 40px;
        margin: 80px;
        width: 140%;
    }
    #foot{
        width: 140%;
    }
    #foot h1{
        font-size: 30px;
        width: auto;
        text-align: center;
        margin: auto;
        color: white;
    }

}