#main{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(1,400px);
    margin: 50px auto;
    padding: 30px;
    gap: 30px;
    width: 80%;
  
}

#main img{
    height: 100%;
    width: 100%;
}
#main >div >p{
    font-size: 25px;
}
#main >div h1{
    font-size: 55px; 
    width: 90%; 
}
#main button{
    background-color: rgb(118, 118, 193);
    color: white;
    width: 200px;
    height: 40px;
    text-align: center;
    align-items: center;
    border-radius: 5px;
    font-weight: bold;
    border: 0px;
}
#main button:hover{
    background-color: blue;
}
#part{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    padding: 30px;
    background-color: rgb(196, 171, 217);
}
#part div{
    height: 200px;
    padding: auto;
    text-align: center;
}
#part div img{
    width: 70%;
    height: 70%;
}
#h1{
   text-align: center;
   font-size: 55px;
   margin-top: 60px;
   width: 50%;
   margin: 60px auto 30px auto;
}
#p{
    width: 50%;
    margin: auto;
    font-size: 23px;
    margin-bottom: 60px;
    text-align: center;
}
#polls{
    background-color: rgb(196, 171, 217);
    padding: 40px;
}
#part2{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(1,400px);
    gap: 30px;
    margin: 60px auto;
    padding: 30px;
    width: 80%;
}

#part2 img{
    width: 100%;
    height: 100%;
}
#part2 >div>h1{
    font-size: 55px; 
 }
 #part2 >div li{
    font-size: 25px;
}
#part3{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(1,400px);
    gap: 40px;
    margin: 60px auto;
    padding: 30px;
    width: 80%;
}
#part3 img{
    width: 100%;
    height: 100%;
}
#part3 >div>h1{
   font-size: 55px; 
}
#part3 >div li{
    font-size: 25px;
}
#part4{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(1,400px);
    gap: 40px;
    margin: 60px auto;
    padding: 30px;
    width: 80%;
}
#part4 img{
    width: 100%;
    height: 100%;
}
#part4 >div>h1{
   font-size: 55px; 
}
#part4 >div li{
    font-size: 25px;
}
#part5{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(1,400px);
    gap: 40px;
    margin: 60px auto;
    padding: 30px;
    width: 80%;
}
#part5 img{
    width: 100%;
    height: 100%;
}
#part5 >div>h1{
   font-size: 55px; 
}
#part5 >div li{
    font-size: 25px;
}
#part5 button{
    color: rgb(90, 90, 224);
    background-color: white;
    width: 140px;
    height: 40px;
    text-align: center;
    align-items: center;
    border-radius: 5px;
    font-weight: bold;
    border: 2px solid rgb(90, 90, 224);;
}
#part5 button:hover{
background-color:rgb(90, 90, 224); 
color: white;
transition: 0s;
}
#h1p h1{
    width: 50%;
    text-align: center;
    margin: auto;
    font-size: 55px;
}
#h1p p{
    width: 47%;
    text-align: center; 
    padding: 30px 0px;
    margin: auto;
    font-size: 23px;
}
#part7{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,450px);
    gap: 40px;
    width: 80%;
    margin:0px auto 120px auto;
}

#part7 img{
    width: 100%;
    height: 70%;
}
.btn1{
    width: 140px;
    height: 40px;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
    border: 0px;
    color: white;
    background-color: rgb(103, 103, 243);
}
.btn2{
    width: 140px;
    height: 40px;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
    border: 0px;
    color: black;
    background-color: white;
}
.btn1:hover{
    background-color: blue;
}
.btn2:hover{
    background-color: rgb(212, 196, 196);
}
#part8{
    text-align: center;
}
#part8 p{
    font-size: 23px;
    width: 55%;
    margin: auto;
}
#part8 h1{
    font-size: 55px;
}
#video{
    margin: 80px auto;
    width: 50%;
    
}
#part9{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(1,300px);
    gap: 30px;
    width: 80%;
    margin: 80px auto;
}

#part9 img{
    width: 100%;
    height: 70%;
}
#part9>div p{
    font-size: 20px;
}
.hov:hover{
    margin-top: -10px;
    transition: 1s;
}
#htag{
    text-align: center;
    font-size: 55px;
    margin:70px 0px 30px 0px;
   
}
