* {
  margin: 0;
  padding: 0;
}

#Navbar {
  width: 100vw;
  height: 50px;
  position: sticky;
  top: 0;
  background-color: rebeccapurple;
}

.block_1 {
  width: 100vw;
  height: auto;
  margin: auto;
  display: block;
  justify-content: center;
  align-items: center;
  margin-left: -10px;
  /* background-color: aqua; */
}

.block_1 img {
  width: 100%;
  height: auto;
  margin-left: 10px;
}

/* block 2 --------------------------------------------------------------------------- */
.block_2 {
  width: 100%;
  margin: auto;
  /* background-color: rgb(236, 165, 165); */
  font-size: 16px;
  font-family: sans-serif;
  display: block;
}

.block_2 > div {
  width: 90%;
  height: auto;
  margin: auto;
  /* background-color: forestgreen; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.Side_bar {
  width: 284px;
  /* background-color: rgb(180, 70, 30); */
  /* margin-left: -40px; */
}

.Side_barRight {
  width: 100%;
  height: auto;
  /* background-color : rgb(252, 9, 9); */
  /* margin-top: 50px; */
}

.sRight_1 {
  font-family: sans-serif;
  color: #101834;
  margin-top: 50px;
}

.sRight_1 > h1 {
  margin-bottom: 15px;
  margin-left: 10px;
  /* background-color: olive; */
}

.sRight_1 > div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  text-align: center;
  margin: auto;
}

.sRight_1 > div > div {
  margin: auto;
  width: 427px;
  height: 327px;
  /* background-color: orangered; */
}

.sRight_1 > div > div:first-child {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.sRight_1 > div > div:last-child {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.hide_1 {
  transition: 0.5s;
}

.hide_1 > div:hover {
  padding: 10px;
  /* border: 1px solid    #1a6cfe; */
  transition: 0.5s;
}

.hide_1 > div:nth-child(1) {
  border-radius: 5px;
  /* background-color: #FE7FAA; */
  /* background-color: #1A6CFE; */
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.color_1 {
  background-color: #fe7faa;
}

.color_2 {
  background-color: #1a6cfe;
}

.sRight_1 > div .hide_1 img {
  width: 300px;
}

.hide_1 > div:nth-child(2) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  margin: 12px 10px 0px 10px;
  /* background-color: aqua; */
  height: auto;
}

.hide_1 > div:nth-child(2) h5 {
  font-size: 20px;
  font-weight: 600;
}

.hide_1 > div:nth-child(2) p {
  font-size: 16px;
  color: grey;
  font-weight: 400;
}

/* sRight_2-=---------------------------------------------------------------- */
.sRight_2 {
  /* background-color: paleg  reen; */
  margin: 50px 8px auto 8px;
}

.sRight_2 > h1 {
  margin-bottom: 15px;
  /* margin-left: 10px; */
  /* background-color: olive; */
}

.sRight_2 > div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  text-align: center;
  margin: auto;
  /* background-color: khaki; */
}

.sRight_2 > div .hideImg_1 {
  height: 260px;
}

.hideImg_1 > div:nth-child(1) {
  border-radius: 5px;
  margin-top: 20px;
  /* background-color: #312429; */
  height: 160px;
}

.hideImg_1 > div:nth-child(2) h5 {
  font-size: 16px;
  font-weight: 600;
  text-align: start;
  line-height: 22px;
}

.hideImg_1 > div:nth-child(2) p {
  font-size: 14px;
  color: grey;
  font-weight: 400;
}

.sRight_2 > div .hideImg_1 img {
  width: 280px;
}

.hide_1,
.hide_2,
.hide_3 {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 5px;
  cursor: pointer;
}

/* sRight_6------------------------------------------------------------------------------- */
.sRight_6 {
  /* background-color: #FE7FAA; */
  margin-left: 10px;
  margin-top: 50px;
  margin-bottom: 80px;
}

/* sRight_9---------------------------------------------------------------------------- */
.sRight_9 {
  /* width: 90%; */
  background-color: #d9d9d9;
  margin-left: 10px;
  margin-right: 10px;
  padding: 25px;
}

.sRight_9 > p {
  line-height: 25px;
  font: 16px;
}

.sRight_9 > p:first-child {
  /* width: 95%; */
  font-weight: 600;
}

.sRight_9 > p:nth-child(2),
.sRight_9 > p:nth-child(3),
.sRight_9 > p:nth-child(4) {
  margin-top: 10px;
}


/* block8------------------------------------------------------------------------------------ */
.block_8 {
    margin-top: 60px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .block_8 img {
    width: 100%;
    height: 320px;
  }
  
  .block_8 > div:last-child {
    width: 40%;
    position: absolute;
    top: 50;
    /* background-color: aqua; */
    margin-top: 10px;
    margin: auto;
    text-align: center;
  }
  
  #up_Bl8 > h1 {
    margin-top: 10px;
    text-align: center;
    font-size: 48px;
    color: white;
    font-weight: 400;
  }
  
  #up_Bl8 > button {
    font-size: 20px;
    padding: 6px 16px 9px 16px;
    color: #196cff;
    font-weight: 500;
    border-radius: 4px;
    border: 0px;
    margin-top: 50px;
    background-color: white;
  }
  
  #up_Bl8 > button:hover {
    background-color: #aebdd6;
    color: white;
  }
  
/* medium screen */
@media all and (min-width: 700px) and (max-width: 950px) {
  .block_1 {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .Side_bar {
    display: none;
  }

  /* sRight_2,3,4,5,7 */
  .sRight_2 > div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

/* small screen */
@media all and (min-width: 200px) and (max-width: 699px) {
  .block_1 {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .Side_bar {
    display: none;
  }

  .block_2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .sRight_1 > div {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  /* sRight_2,3,4,5,7 */
  .sRight_2 > div {
    width: 400px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
