* {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
#Navbar {
  background-color: teal;
  width: 100vw;
  height: 65px;
  margin: auto;
  position: sticky;
  top: 0;
}

/* Block 1 ----------------------------------------------------------------------------------- */
.block_1 {
  margin: auto;
  /* background-color: aquamarine; */
  width: 100vw;
  height: auto;
  display: flex;
}
.block_1 > div {
  width: 80vw;
  height: auto;
  margin: auto;
  display: flex;
  margin-top: 65px;
  justify-content: center;
  align-items: center;
}
/* .block_1 > div > div:nth-child(1) {
  background-color: red;
} */
.block_1 > div > div:nth-child(1) > h1 {
  width: 80%;
  height: 192px;
  font-size: 64px;
  margin-bottom: 18px;
  font-weight: 500;
  color: #101834;
  line-height: 65px;
}
.block_1 > div > div:nth-child(1) > p {
  width: 90%;
  height: 67.5px;
  font-size: 24px;
  margin: 0px 8px 30px 0px;
  font-weight: 400;
  color: #101834bf;
}
.block_1 > div > div:nth-child(1) > button {
  width: 174px;
  height: 48px;
  font-size: 20px;
  font-weight: bold;
  color: #ffff;
  border: 0px;
  border-radius: 5px;
  background-color: #196cff;
}
.block_1 > div > div:nth-child(1) > button > p {
  margin-bottom: 6px;
}
.block_1 > div > div:nth-child(2) {
  width: 100%;
}
.block_1 > div > div:nth-child(2) > img {
  width: 100%;
  /* height: 298px; */
  height: auto;
}

/* Block 2 ----------------------------------------------------------------------------------- */
.block_2 {
  width: 100vw;
  height: auto;
  margin: auto;
  margin-top: 100px;
  /* background-color: tomato; */
  /* padding: 64px 128px; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.block_2 > div {
  width: 1200px;
  height: auto;
  /* background-color: olive; */
  text-align: center;
}
.block_2 > div > div:first-child {
  width: 60%;
  height: auto;
  margin: auto;
  /* background-color: antiquewhite;     */
  margin-bottom: 32px;
}
.block_2 > div > div:first-child > h6 {
  width: 80%;
  height: autopx;
  margin: auto;
  margin-bottom: 16px;
  font-size: 44px;
  /* background-color: aqu  a; */
}
.block_2 > div > div:first-child > p {
  width: 85%;
  height: auto;
  margin: auto;
  margin-bottom: 32px;
  /* text-align: center ; */
  font-size: 18px;
  color: #101834bf;
  font-weight: 500;
  /* bac
  kground-color: antiquewhite; */
}
.block_2 > div > div:first-child > p span {
  color: #196cff;
  cursor: pointer;
}
.block_2 > div > div:first-child > p span :hover {
  color: #6697ec;
  cursor: pointer;
}
.block_2 > div > div:last-child {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 1200px;
  height: auto;

  /* background-color: aqua; */
}
.block_2 > div > div:last-child > div {
  width: 399.98px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-size: 20px;
  font-weight: 500;
  /* background-color: #ffd6db;  */
}
.block_2 img {
  width: 100%;
  height: 127.99px;
}
.block_2_2 > div:nth-child(1) > p {
  width: 304.9px;
  height: 24px;
}
.block_2_2 > div:nth-child(2) > p {
  width: 306px;
  height: 48.01px;
}
.block_2_2 > div:nth-child(3) > p {
  width: 128.2px;
  height: 24px;
}

/* Block 3 ----------------------------------------------------------------------------------- */
.block_3 {
  width: 100vw;
  height: auto;
  background-color: #ffd6db;
  /* background-color: #6697ec; */
  padding-top: 10px;
  margin-top: 50px;
}
.block_3 > div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.block_3 > div > div:first-child {
  width: 674.5px;
  /* width: 80%; */
  height: auto;
  /* background-color: rebeccapurple; */
  /* padding: 32px 64px 32px    ; */
  margin: 32px 64px 32px;
  /* padding-left: 64px; */
}
.block_3 > div > div:first-child > h6 {
  width: 80%;
  height: 22.39px;
  font-size: 1em;
  color: #196cff;
  font-weight: 400;
  margin-top: 32px;
}
.block_3 > div > div:first-child > h1 {
  width: 80%;
  height: auto;
  font-size: 48px;
  margin-bottom: 16px;
  line-height: 48px;
  font-weight: 500;
  color: #101834;
}
.block_3 > div > div:first-child > p {
  /* width: 546.5px;    */
  height: 80%;
  height: auto;
  font-size: 20px;
  margin-bottom: 32px;
  /* background-color: #196cff; */
  color: #101834bf;
}
.block_3 > div > div:first-child > button {
  width: 116.83px;
  height: 40px;
  background-color: transparent;
  border: 2px solid #196cff;
  font-weight: bold;
  border-radius: 4px;
  color: #196cff;
}
.block_3 > div > div:last-child > img {
  width: 584px;
  height: auto;
}

/* Block 4 ----------------------------------------------------------------------------------- */
.block_4 {
  width: 100vw;

  height: auto;
  /* background-color: #ffd6db; */
  /* background-color: #66  97ec; */
  padding-top: 10px;
  margin-top: -10px;
}
.block_4 > div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  /* background-color: #196c  ff; */
}
.block_4 > div > div:first-child > img {
  /* margin-top: -30px; */
  width: 678px;
  height: auto;
}
.block_4 > div > div:last-child {
  /* width: 674.5px; */
  width: 80%;
  /* height: 466.39px; */
  height: auto;
  /* background-color: aqua; */
}
.block_4 > div > div:last-child > div {
  padding: 32px 64px;
  width: 100%;
  /* background-color: aqua;     */
}

.block_4 > div > div:last-child > div > h6 {
  width: 80%;
  height: 22.39px;
  color: #196cff;
  font-size: 16px;
  /* background-color: aliceblue; */
}
.block_4 > div > div:last-child > div > h1 {
  /* width: 546.6px; */
  width: 80%;
  /* height: 96px; */
  height: auto;
  margin-bottom: 16px;
  font-size: 48px;
  line-height: 48px;
}

.block_4 > div > div:last-child > div > p {
  /* width: 546.5px; */
  width: 80%;
  /* height: 196px; */
  height: auto;
  font-size: 20px;
  margin-bottom: 32px;
  color: #101834bf;
}
.block_4 > div > div:last-child > div > button {
  width: 116.83px;
  height: 40px;
  background-color: transparent;
  border: 2px solid #196cff;
  font-weight: bold;
  border-radius: 4px;
  color: #196cff;
}

/* block5------------------------------------------------------------------------------------ */
.block_5 {
  width: 100%;
  background-color: #fff;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: firebrick;   */
}
.block_5 > div {
  width: 100%;
}
.block_5 > div > div:first-child {
  /* height: 362.39px; */
  height: auto;
  /* background-color: aqua; */
  /* margin-top: -80px; */
}
.block_5 > div > div:last-child > img {
  /* margin-top: -100px; */
  width: 670.5px;
  /* height: 517.86px; */
  /* width: 100%; */
  height: auto;
}
.block_5 > div > div:nth-child(1) > p {
  /* background-color: #ffd6db; */
  margin-bottom: -30px;
}
.block_5 > div > div:nth-child(1) > button {
  margin-top: 40px;
  width: 179.39px;
  height: 40px;
}

/* block6------------------------------------------------------------------------------------ */
.block_6 > div {
  margin-top: 5px;
}
.block_6 > div > div:first-child > img {
  margin-top: 25px;
  width: 648px;
}
.block_6 > div > div:last-child > div {
  margin-top: 50px;
}
.block_6 > div > div:last-child > div > h1 {
  height: 48px;
  /* background-color: #ffd6db; */
}
.block_6 > div > div:last-child > div > p {
  margin-bottom: 10px;
}

/* block7------------------------------------------------------------------------------------ */
.block_7 {
  margin-top: 5px;
}
.block_7 > div > div:first-child > h1 {
  width: 566.06px;
}

/* block8------------------------------------------------------------------------------------ */
.block_8 {
  margin-top: 20px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.block_8 img {
  width: 100%;
  height: 320px;
}

.block_8>div:last-child {
  width: 40%;
  position: absolute;
  top: 50;
  /* background-color: aqua; */
  margin-top: 10px;
  margin: auto;
  text-align: center;
}

#up_Bl8>h1 {
  margin-top: 10px;
  text-align: center;
  font-size: 48px;
  color: white;
  font-weight: 400;
}

#up_Bl8>button {
  font-size: 20px;
  padding: 6px 16px 9px 16px;
  color: #196cff;
  font-weight: 500;
  border-radius: 4px;
  border: 0px;
  margin-top: 50px;
  background-color: white;
}

#up_Bl8>button:hover {
  background-color: #aebdd6;
  color: white;
}
@media all and (min-width: 801px) and (max-width: 970px) {
  .block_1 > div > div:nth-child(1) > h1 {
    width: 100%;
  }
}
/* small screen */
@media all and (min-width: 200px) and (max-width: 800px) {
  /* Block 1 ---------------------------------------------------------------------------- */
  .block_1 > div {
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    line-height: 32px;
    font-weight: 600;
    /* background-color: #ffd6db; */
    /* margin-top: 10px; */
  }
  .block_1 > div > div:nth-child(1) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .block_1 > div > div:nth-child(1) > h1 {
    font-size: 32px;
    height: 80%;
    /* background-color: #6697ec;    */
  }

  /* Block 1 ---------------------------------------------------------------------------- */
  .block_2 {
    width: 100%;
    /* background-color: aqua; */
  }
  .block_2 > div {
    /* background-color: darkgoldenrod; */
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
  #block_2_2 {
    /* background-color: #6697ec; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: #196cff; */
  }
  .block_3 {
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .block_3 > div,
  .block_3 > div > div:first-child {
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .block_3 > div > div:first-child > h1 {
    width: 80%;
    height: auto;
  }
  .block_3 > div > div:first-child > p {
    width: 60%;
  }
  .block_3 > div > div:last-child > img {
    width: 80%;
    height: auto;
  }

  .block_4 > div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .block_4 > div > div:last-child > div {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .block_4 > div > div:last-child > div > h1 {
    width: 80%;
    height: auto;
    /* background-color: #6697ec; */
  }
  .block_4 > div > div:last-child > div > p {
    width: 80%;
  }

  .block_5 {
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .block_3 > div > div:last-child,
  .block_3 > div > div:first-child {
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .block_5 > div {
    /* width: 100%;  */
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
  }
  .block_5 > div > div:first-child > h1 {
    width: 80%;
    height: auto;
  }
  .block_5 > div > div:first-child > p {
    width: 60%;
  }
  .block_5 > div > div:last-child > img {
    width: 100%;
  }
  .block_5 > div > div:first-child > button {
    margin-top: 30px;
  }
}
